<!DOCTYPE html>
<html>
<head>
  <title>SVG Alphabet</title>
  <link rel="icon"
      href="public/images/ani_favicon.png">

  <link rel="stylesheet" type="text/css" href="public/css/animated-message.css">
  <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36647147-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>


<body>

<div class='header'>
   <div class='create-message'>
    <form method='get'>
      <input type="text" id="message" name='message' placeholder="Enter Your message"><br>
      <input type="submit" value='Create your own animated message'>
    </form>
    <p>Previous messages*:</p>
  </div>

</div>

  <div id="svgcontainer">
  </div>

  <div class='read-message'>
    <a href="https://twitter.com/intent/tweet?&text=My animated message http://animated-message.mikesirrah.co.uk" id='share' target="_blank">Share this message</a>
    <a href="../" id='create'>Create a message</a>
  </div>

  <script type="text/javascript" src="vendor/bower/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="public/js/animated-message.js"></script>

</body>
</html>
